<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full m-0">
    <div class="w-full h-full bg-zinc-900 p-10">
        <div class=" text-white nav m-2 font-bold text-2xl" >
            <a href="/read">Read</a>

        </div>

        <div class=" text-white nav m-2 font-bold text-2xl" >
            <a href="/login">Log In</a>

        </div>
        <h1 class=" text-white text-3xl mb-3 tracking-tighter">Create A User</h1>
        <form action="/create" method="post">
            <input class="px-5 py-2 bg-transparent text-white border-2 rounded-lg" type="text" 
            name="username"
            placeholder="username">

            <input class="px-5 py-2 bg-transparent text-white border-2 rounded-lg" type="email" 
            name="email"
            placeholder="email">

            <input class="px-5 py-2 bg-transparent text-white border-2 rounded-lg" type="password" 
            name="password"  placeholder="password">

            <input class="px-5 py-2 bg-transparent text-white border-2 rounded-lg" type="number" 
            name="age"  placeholder="age">
             
            <input class="px-2 py-3 bg-blue-500 text-white font-bold border-2 rounded-lg ml-3" type="submit" value="Create User">
        </form>
    </div>
</body>
</html>
